version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: docker
    directories:
      - "/test"
      - "/"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: docker-compose
    directory: "/test"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      docker-compose-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: "/"
    open-pull-requests-limit: 20
    versioning-strategy: increase
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      npm-dev-dependencies:
        dependency-type: development
      actions-dependencies:
        patterns:
          - "@actions/*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
