name: Internal - Checks for nodejs

on:
  workflow_call:

permissions:
  contents: read
  security-events: write
  id-token: write

jobs:
  test-nodejs:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@32a69b7b8fd5f7ab7bf656e7e88aa90ad235cf8d # 0.18.0
    permissions:
      id-token: write
      security-events: write
      contents: read
    with:
      build: ""
