name: Internal - Checks for nodejs

on:
  workflow_call:

permissions: {}

jobs:
  test-nodejs:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@338755b95043af1f8aa17409529fd20a9d2ef659 # 0.20.6
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    with:
      build: ""
      test: |
        {"coverage":"codecov"}
