name: Internal - Checks for dist

on:
  workflow_call:

permissions: {}

jobs:
  check-dist:
    name: Check dist
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - id: setup-node
        uses: hoverkraft-tech/ci-github-nodejs/actions/setup-node@338755b95043af1f8aa17409529fd20a9d2ef659 # 0.20.6

      - name: Build dist/ Directory
        id: package
        run: ${{ steps.setup-node.outputs.run-script-command }} package

      # This will fail the workflow if the PR wasn't created by Dependabot.
      - name: Compare Directories
        id: diff
        run: |
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after package. See status below:"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi
