name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions: {}

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@b17226e57c8ef31f860719766656ebb6df017218 # 0.31.6
    permissions:
      contents: read
      issues: write
      pull-requests: write
