name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions: {}

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@c314229c3ca6914f7023ffca7afc26753ab99b41 # 0.30.1
    permissions:
      contents: read
      issues: write
      pull-requests: write
