name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions: {}

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@f24ce3360a8abf9bf386a62ab13d0ae5de5f9d13 # 0.31.7
    permissions:
      contents: read
      issues: write
      pull-requests: write
