name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "30 1 * * *"

permissions: {}

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@f24ce3360a8abf9bf386a62ab13d0ae5de5f9d13 # 0.31.7
    permissions:
      issues: write
      pull-requests: write
