name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "30 1 * * *"

permissions: {}

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@a55670b58d3e064526201acde6c720ede638420c # 0.31.0
    permissions:
      issues: write
      pull-requests: write
